# Dependencies and build output
node_modules
dist
coverage
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*

# Local files
*.local
.eslintcache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
